@use '../assets/globals' as *;

// Estilos del componente
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $white;
  border-top: 1px solid $line;
  z-index: 50;
  padding-bottom: env(safe-area-inset-bottom);
  height: 4rem;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  justify-items: stretch;
  height: 100%;
}

.item {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch; // Aseguramos que el item ocupe toda la altura
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;

  svg {
    width: 28px;
    height: 28px;
    color: $primary; // Usando variable global
    transition: transform .15s ease, color .15s ease;
  }

  &:active svg {
    transform: scale(.95);
  }
}

.active {
  background: $surface; // Usando variable global
  border-top: 2px solid $secondary; // Usando variable global


  svg {
    color: $secondary; // Usando variable global
  }
}